* {
  margin: 0;
  padding: 0;
}

.content {
  height: 100vh;
  top: 0;
  background-image: url(./img/coffee\ beans.jpg);
  background-position: center bottom;
  background-size: cover;
}

.sidebar {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  width: 290px;
  padding: 70px 0 0;
  text-align: center;
  position: fixed;
  min-height: 100%;
}

.header {
  color: rgb(0, 0, 0);
  padding-top: 3rem;
}

ul {
  display: block;
  margin-block-start: 15em;
  margin-block-end: 4em;
  font-size: 1.1rem;
  text-decoration: none;
}

.top-menu li {
  padding: 10px 20px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.footer {
  padding: 30px;
}
.social-icons {
  font-size: 21px;
}

.fa:hover {
  opacity: 0.7;
}

p {
  font-size: 12px;
  padding: 15px;
}
